extends layout

block content	
	.row(style='height: 68px')
		.col-md-12
			h4 Welcome to Code
	.row
		.col-md-2
			.panel.panel-default
				.panel-body.text-center
					h4 Score
					h2= newScore || user.codeScore
			.panel.panel-default
				.panel-body.text-center
					h4 Time Remaining
					h2#countdown 2:30:00
		.col-md-8
			block main
			if !!message
				.row
					.col-md-8.col-md-offset-2
						if !!success
							.alert.alert-success= message
						else if !!attach
							.alert.alert-danger
								= message
								p: a(href='/' + attach) Attachments
						else
							.alert.alert-danger= message
		.col-md-2
			.panel.panel-default
				.panel-body.text-center
					h4 Problems
					each problem, index in problems
						p
							if user.codeCorrects.indexOf(index) == -1
								a.incomplete(href='/problem/' + index.toString())= 'Problem ' + index.toString()
							else
								a.complete(href='/problem/' + index.toString())= 'Problem ' + index.toString()
	script.
		countdown = parseInt("#{countdown}")
	script(src='/javascripts/countdown.js')
