extends layout

block content
	if !!results
		table.table
			tr
				th.text-center Rank
				th Name
				th.text-center Score
			each result, index in results
				tr
					td.text-center= index + 1
					td
						if !!result.alias
							= result.alias
							span.text-muted.small= ' — ' + result.name
						else
							= result.name
					td.text-center= result.codeScore