doctype html
html
	head
		title Code
		meta(charset='utf8')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		block scripts
	body
		.navbar.navbar-default
			.container
				.navbar-header
					a.navbar-brand(href='/') Code
				.collapse.navbar-collapse#nav-collapse
					ul.nav.navbar-nav.navbar-right
						li: a(href='/') Play
						li: a(href='/rules') Rules
						li: a(href='/leaderboard') Leaderboard
						li: a(href='/logout') Logout
		.container
			.row
				.col-md-8.col-md-offset-2
					.panel.panel-default
						.panel-body
							!= yield
